@import "friendList.css";
@import "friendPlaque.css";
html {
  color: darkslategray;
  background-color: #fffefd;
}
body {
  padding-top: 3rem;
}
.friend-addFriend {
  margin-top: 1rem;
  padding-top: 1rem;
}
