@import 'variables';
@import 'styles';
@plaquePadding: 10px;


.plauqeContainer {
	width: @columnWidth * 2 + @gutterWidth;
	margin: 5px;
	background: @eden;
}

.plaquePaddedItemBase {
    width: 100% - @plaquePadding;
}

.plauqeTitle {
    .plaquePaddedItemBase;
    margin: 5 auto 0 auto;
    text-align: center;
    line-height: 30px;
}

.plaqueDescription {
    .plaquePaddedItemBase;
    margin: 5 auto 0 auto;
    height: 49px;
    overflow: hidden;
}

.editButton {
    .borderlessButton;
    background-color: @mojo;
    color: @bajaWhite;
}

.doneButton {
    .borderlessButton;
    background-color: @mojo;
    color: @bajaWhite;
}

.deleteButton {
    .borderlessButton;
    background-color: @mojo;
    float: right;
}

.portraitImage {
    .plaquePaddedItemBase;
    margin: 5 auto 0 auto;
    height: 180px;
    width: 180px;
    display: block;
}

.connectButtonsContainer {
    display: flex;
}

.connectDivBase {
    width: 100%;
    text-align: center;
    padding: 0px;
    flex-grow: 1;
    flex-basis: 0;
    color: @bajaWhite;
}

.met {
    .connectDivBase;
    background: @mojo;

}

.called {
    .connectDivBase;
    background: darken(@mojo, 5%);
}

.texted {
    .connectDivBase;
    background: darken(@mojo, 10%);
}

.contactButton {
    .borderlessButton;
    width: 100%;
}

.contactButton p {
    padding-bottom: 5px;
}



.contactImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32px;
}

.inputField {
    .plaquePaddedItemBase;
    margin: 5 auto 0 auto;
    line-height:19px;
    display: block;
}
