@columnWidth: 100px;
@gutterWidth: 10px;
@base: #f938ab;
@tahunaSands: #EFECCA;
@hampton: #E6E2AF;
@hillary: #A7A37E;
@veniceBlue: #046380;
@deepTeal: #002F2F;

@warningColor: #F29472;
@warningColorFade: #F25B24;
